---
import faqs from "../data/FAQs";
---

<section id="FAQs" class="space-y-12 p-4 md:p-10 lg:p-16">
    <div class="space-y-4 text-center">
        <h1 class="text-3xl lg:text-5xl !leading-[1.2] font-semibold">
            Frequently asked questions
        </h1>
        <p class="text-slate-600">
            Everything you need to know about the event
        </p>
    </div>

    <div
    class="max-w-3xl mx-auto"
        id="accordion-flush"
        data-accordion="collapse"
        data-active-classes="bg-white dark:bg-gray-900 text-gray-900 dark:text-white"
        data-inactive-classes="text-gray-500 dark:text-gray-400"
    >
        {
            faqs.map((f, i) => (
                <>
                    <h2 id={`accordion-flush-heading-${i}`}>
                        <button
                            type="button"
                            class="flex items-center justify-between w-full py-5 font-medium text-left text-black border-b border-gray-200 dark:border-gray-700 dark:text-gray-400"
                            data-accordion-target={`#accordion-flush-body-${i}`}
                            aria-expanded="true"
                            aria-controls={`accordion-flush-body-${i}`}
                        >
                            <span>{f.question}</span>
                            <svg
                                data-accordion-icon
                                class="w-6 h-6 rotate-180 shrink-0"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                    clip-rule="evenodd"
                                />
                            </svg>
                        </button>
                    </h2>
                    <div
                        id={`accordion-flush-body-${i}`}
                        class="hidden"
                        aria-labelledby={`accordion-flush-heading-${i}`}
                    >
                        <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                            <p class="mb-2 text-gray-600 dark:text-gray-400">
                                {f.answer}
                            </p>
                        </div>
                    </div>
                </>
            ))
        }
    </div>
</section>
